@charset "UTF-8";
/* font declarations
--------------------------------------------------
*/
/* Serif roman */
@font-face {
  font-family: 'IBM Plex Serif Light';
  src: url("/fonts/IBMPlexSerif-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Serif italic */
@font-face {
  font-family: 'IBM Plex Serif Light';
  src: url("/fonts/IBMPlexSerif-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Monospace roman */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Sans-serif roman */
@font-face {
  font-family: 'IBM Plex Sans Light';
  src: url("/fonts/IBMPlexSans-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Sans-serif italic */
@font-face {
  font-family: 'IBM Plex Sans Light';
  src: url("/fonts/IBMPlexSans-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* variables
--------------------------------------------------
*/
/* fibonacci
--------------------------------------------------
1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144
*/
/* global defaults
--------------------------------------------------
*/
html {
  background: #fffffa;
  color: #364954;
  font-family: "IBM Plex Serif Light", Georgia, serif;
  height: 100%;
  line-height: 1.4; }

@media only screen and (min-width: 800px) {
  html {
    font-size: 130%; } }
body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100%; }

a {
  color: #364954;
  text-decoration: none; }

a:hover, a:focus {
  color: #00c9ad;
  text-decoration: none; }

blockquote {
  font-size: 89%;
  line-height: 1.3;
  margin-left: 2em;
  padding-left: 8px; }

h2 {
  font-size: 135%;
  margin-top: 13px;
  margin-bottom: 8px; }

h3 {
  font-size: 133%;
  margin-top: 8px;
  margin-bottom: 5px; }

p {
  margin: 0 0 0.67em 0; }
  p a:after {
    color: #c35353;
    content: "°";
    font-feature-settings: 'caps' 1;
    font-size: 90%;
    margin-left: 0.10em;
    position: relative; }

.post-info {
  color: #9cafb0;
  font-size: 90%;
  margin-top: 1em; }

.post-teaser {
  border-top: 1px solid #9cafb0; }

.tags {
  color: #ef972c;
  font-family: "IBM Plex Sans Light", Helvetica, sans-serif;
  font-size: 90%;
  margin-bottom: 1em; }
  .tags a {
    color: #0088b2; }
    .tags a:hover {
      color: #00c9ad; }

/* code formatting
--------------------------------------------------
*/
code, kbd {
  border-radius: 4px;
  color: #2f4858;
  font-family: "IBM Plex Mono", monospace;
  font-size: 90%;
  padding: 0 .5rem; }

pre {
  background: #f1f8f6;
  border: 1px solid #9cafb0;
  overflow-wrap: break-word;
  padding: 1rem;
  white-space: pre-wrap; }
  pre code {
    display: block; }
  pre code a {
    color: #2f4858; }
    pre code a:hover {
      text-decoration: none; }

/* image formatting
--------------------------------------------------
*/
img {
  border-bottom: 3px solid #00c9ad;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  margin: 21px 0 21px 0;
  width: 100%; }

/* table formatting
--------------------------------------------------
*/
table {
  font-family: "IBM Plex Sans Light", Helvetica, sans-serif;
  margin: 21px 0 21px 0;
  border-collapse: collapse;
  border: 1px solid #f1f8f6;
  border-bottom: 2px solid #00c9ad;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); }
  table tr:hover {
    background: #f1f8f6; }
    table tr:hover td {
      color: #2f4858; }
  table th, table td {
    color: #364954;
    border-bottom: 1px solid #9cafb0;
    padding: 12px 35px;
    border-collapse: collapse; }
  table th {
    background: #00c9ad;
    color: #f1f8f6;
    font-family: "IBM Plex Serif Light", Georgia, serif;
    font-size: 90%;
    font-weight: 700;
    text-align: left; }
    table th.last {
      border-right: none; }

/* page elements
--------------------------------------------------
*/
* {
  box-sizing: border-box; }

.logo {
  border-bottom: 1px solid #9cafb0;
  display: none; }
  .logo a {
    color: #00c9ad;
    font-size: 120%;
    text-decoration: none; }

header {
  margin: 0 21px 0 21px; }

nav {
  border-bottom: 1px solid #9cafb0;
  display: flex;
  font-family: "IBM Plex Sans Light", Helvetica, sans-serif;
  font-variant: small-caps;
  justify-content: flex-start;
  letter-spacing: 0.1em;
  margin-bottom: 34px; }
  nav a {
    color: #364954;
    display: block;
    margin: 5px 34px 8px 0; }

main {
  display: grid;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: 1fr; }
  main article, main article.section {
    grid-column: 3 / span 11; }

@media only screen and (max-width: 500px) {
  main article, main article.section {
    grid-column: 2 / span 13; } }
@media only screen and (min-width: 1300px) {
  main article, main article.section {
    grid-column: 6 / span 5; } }
@supports not (display: grid) {
  main {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 100%; }
    main article, main article.section {
      max-width: 700px;
      width: 90%; } }
/* responsive footer
--------------------------------------------------
*/
footer {
  background: #c35353;
  border-top: 3px solid #9cafb0;
  color: #f1f8f6;
  font-family: "IBM Plex Sans Light", Helvetica, sans-serif;
  font-size: 80%;
  grid-row: 3 / span 1;
  margin: 13px -8px -8px -8px;
  padding: 34px 21px 34px 21px; }
  footer a {
    color: #fffffa; }
    footer a:hover {
      color: #f1f8f6; }
  footer a:after {
    color: #00c9ad; }

/*# sourceMappingURL=style.css.map */
