<footer>
  <h2>About</h2>
  <p>I’m Garry Cairns. I’m a software engineer working in the finance industry. This is my personal site, where I typically write about whatever fun I’m having on personal projects.</p>
  <p>Content is pubished under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
  <p>It works thanks to <a href="https://hackage.haskell.org/package/slick">λ Slick</a></p>
  <p>Source available on <a href="https://gitlab.com/ilikewhenitworks/ilikewhenitworks.gitlab.io">GitLab</a></p>
</footer>
