<header>
  <h1 class="logo">
    <a href="/" title="Index">ILikeWhenItWorks</a>
  </h1>
  <nav>
    <a href="/" title="Back to the home page">home</a>
    <a href="https://gitlab.com/garry-cairns" title="My projects">projects</a>
    <a href="/atom.xml" title="Subscribe with Atom" rel="subscribe-rss">feed</a>
  </nav>
</header>
