<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <link rel="canonical" href="{{baseUrl}}">
    <title>{{siteTitle}}</title>

    <link rel="stylesheet" href="/css/style.css" />

    <link rel="icon" type="image/png" href="/images/favicon.png">

  </head>

  <body>
    {{>templates/header.html}}

    <main role="main">
      <article>
      {{>templates/post-list.html}}
      </article>
    </main>

    {{>templates/footer.html}}

  </body>

</html>
