{{#posts}}
<section class="post-teaser">
  <h2><a href="{{url}}">{{title}}</a></h2>
  <p class="post-info">{{date}}</p>
</section>
<section class="tags">
  Tagged with: {{#keywords}}<a href="/{{.}}.html">{{.}}</a> {{/keywords}}
</section>
{{/posts}}
